/* Author: Venice Faye Valenzuela */

/* Version: Quiz3 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');
:root {
    --font-family: 'Roboto';
    --main-color: #05a081;
    --text-color: #fff;
    --bg-color: #eee;
    --bg-color-2: #333;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: 18px;
}

header {
    display: flex;
    width: 100%;
    background: transparent !important;
    position: absolute;
}
.logo{
    flex: 1;
    color: var(--text-color);
    font-size: 2rem;
    padding: .4em;
}
nav{
    flex: 3;
    justify-content: space-between;
    display: flex;
    margin-top: 1.4rem;
}
nav a {
    text-decoration: none !important;
    color:var(--text-color) !important;
}

.banner {
    background-image: url(../images/background.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
}

/* custom css */

.margin {
    padding: 4em 0;
}

.clearfix {
    clear: both;
}

.bg-color {
    background-color: var(--bg-color-2);
    overflow: hidden;
}

main {
    background: var(--bg-color);
}

.margin .container {
    display:flex;
}

.sideleft {
    flex: 1;
    padding-right: 1.5rem;
}

.sideright {
    flex: 2;
}

.btn {
    background-color: var(--main-color);
    color: var(--text-color) !important;
    padding: 1em 2em;
}

.margin.bg-color .container {
    display: flex;
}

.box {
    flex: 1;
    padding: 2em;
    text-align: center;
    color:var(--text-color)
}
.box .fas{
    font-size: 30px;
}
footer{
    width: 100%;
    padding: 2em;
    text-align: center;
}